
.sbTextBorder {
  border: 1px solid #d0d0d0;
  padding: 5px;
}

.sbTreeBorder,
.sbWebBorder,
.sbCanvasBorder,
.sbContainerBorder,
.sbScrollAreaBorder,
.sbImageBorder,
.sbFrameBorder  {
  border: 1px solid #d0d0d0;
}
